#news-list li {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

#news-list h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

#news-list p {
  color: #333;
  line-height: 1.4;
}

#news-list a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}
